.home_page_container{
    height: 90%;
    width: 90%;
    border-radius: 10px;
    background-color:#43279685;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

} 
.home_page_container > a{
    position: absolute;
    bottom: 2%;
    right: 2%;
    height: 60px ;
    width: 15rem;
    animation: button_jump_ani 2.7s infinite;
    background: linear-gradient(#432796,#fbb36b);
    border-radius: 10px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    color: white;
    border: 10px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


@keyframes button_jump_ani{
    0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}